include ../includes/mixins

html
  head
    title=title || 'Eidolon'
    include ../includes/css
    block css
    include ../includes/head-scripts
    block head
  body
    +navbar(title, [])
    block content
    include ../includes/body-scripts
    block footer
