extends layouts/layout

append header

block content
  h1=title

append footer
  script.
    const socket = io(location.href);
    socket.on('connect', () => {});
    socket.on('event', (data) => {});
    socket.on('disconnect', () => {});
    socket.on('setNumber', (payload) => {
      const number = document.getElementById('number');
      number.innerHTML = payload;
    });
