extends layouts/layout-nav

append head

append navbar

append content
  .container
    .row.mt-5
    .row.mt-5
    .row
      .col-md-12
        h4.lead.ml-4 Sign In
    .row
      .col-md-4.mb-4.border-right
        .row.mt-5
          .col-md-12.ml-4
            a(href='/auth/facebook') Sign In with Facebook
        .row.mt-4
          .col-md-12.ml-4
            a(href='/auth/google') Sign In with Google
      .col-md-8
        .row.ml-2
          form.col-md-12(action='/auth/login' method='post')
            .form-group
              label(for='f-input-email') Email
              input.form-control#f-input-email(type='email' name='email' placeholder='Email')
            .form-group
              label(for='f-input-password') Password
              input.form-control#f-input-password(type='password' name='password' placeholder='Password')
            button.btn.btn-primary(type='submit' value='Submit') Sign In
            small.col
              a(href='/recover') Forgot Password?

append footer
