extends layouts/layout-nav

append head

append navbar

append content
  .container
    .row.mt-5
    .row.mt-5
    .row
      .col-md-12
        h4.lead.ml-4=placeholder || 'Placeholder'
    .row
      .col-md-4.mb-4.border-right
      .col-md-4.mb-4.border-right
      .col-md-4.mb-4

append footer
